extends ../layout
block content
  h1 Kurssit
  if courses.length
    #results
      table
        thead
          tr
            th name
        tbody
          each c in courses
            tr
              td
                a(href="/courses/"+c._id)= c.name
  if currentUser
    if currentUser.priviledges>1
      hr
      .actions
        a(href="/courses/new") Luo uusi kurssi

