extends ../layout

block content
  h1 Courses
  if courses.length
    #results
      table
        thead
          tr
            th name
        tbody
          each c in courses
            tr
              td
                a(href="/courses/"+c._id)= c.name
  br
  a(href="/courses/new") New Course
