extends ../layout
block content
  h1 Kurssit
  if courses.length
    .list-group
    each c in courses
      a(href="/courses/"+c._id).list-group-item
        h4.list-group-item-heading= c.name
        p.list-group-item-text= c.description
  if currentUser
    if currentUser.priviledges>1
      hr
      .actions
        a(href="/courses/new") Luo uusi kurssi

