extends ../layout
block content
  h1= course.name
  p= course.description
  ul
    each task in course.tasks
      li
        a(href="/tasks/#{task._id}")= task.name

  if currentUser
    if currentUser.priviledges > 1
      br
      p
      a(href="/courses/#{course._id}/tasks/new") Add task
