extends layout
block content
  h1 Raineri &mdash; SQL Trainer

  p
    | Raineri on relaatiotietokannan kyselyiden henkilökohtainen tarkastaja.
    | Vastuuhenkilöllä on mahdollisuus luoda tietokantoja, kursseja sekä
    | tehtäviä, joita opiskelijat voivat suorittaa.
