doctype html
html
  head
    title Raineri
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/codemirror.css')
    link(rel='stylesheet', href='/stylesheets/monokai.css')
    link(rel='stylesheet', href='/stylesheets/show-hint.css')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.js')
    script(src='/javascripts/codemirror-compressed.js')
    script(src='/javascripts/codemirror-editor.js')
  body

    header
        h1
          a(href="/") Raineri

    nav.navibar
      a(href="/users") Käyttäjät
      |  |
      a(href="/courses") Kurssit
      |  |
      a(href="/databases") Tietokannat
      if currentUser
        |  |
        a(href="/users/#{currentUser.username}")= currentUser.username
        |  |
        a(href="/logout") Kirjaudu ulos
      else
        |  |
        a(href="/login") Kirjaudu sisään
        |  |
        a(href="/users/new") Rekisteröidy

    #torso
      block content

