doctype html
html
  head
    title Raineri
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/codemirror.css')
    link(rel='stylesheet', href='/stylesheets/monokai.css')
    link(rel='stylesheet', href='/stylesheets/show-hint.css')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.js')
    script(src='/javascripts/codemirror-compressed.js')
    script(src='/javascripts/codemirror-editor.js')
  body

    header
        h1
          a(href="/") Raineri

    nav.navibar
      a(href="/users") users
      |  |  
      a(href="/tasks") tasks
      |  |  
      a(href="/courses") courses
      |  |  
      a(href="/databases") databases
      if currentUser
        |  |  
        a(href="/logout") logout
      else
        |  |  
        a(href="/login") login

    #torso
      block content

