doctype html
html
  head
    title Raineri
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/codemirror.css')
    link(rel='stylesheet', href='/stylesheets/monokai.css')
    link(rel='stylesheet', href='/stylesheets/show-hint.css')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.js')
    script(src='/javascripts/codemirror-compressed.js')
    script(src='/javascripts/codemirror-editor.js')
  body
    header
        .navibar
          a(href="/users") |   users  |
          a(href="/tasks/1") |   tasks  |
        h1
          a(href="/") Raineri


    #torso
      block content

