doctype html
html
  head
    title Raineri
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/codemirror.css')
    link(rel='stylesheet', href='/stylesheets/monokai.css')
    script(src='/javascripts/codemirror-compressed.js')
  body
    header
      h1
        a(href="/") Raineri

    #torso
      block content

