doctype html
html
  head
    title Raineri
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='stylesheet', href='/stylesheets/codemirror.css')
    link(rel='stylesheet', href='/stylesheets/monokai.css')
    link(rel='stylesheet', href='/stylesheets/show-hint.css')
    script(src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.0/jquery.js')
    script(src='/javascripts/bootstrap/js/bootstrap.min.js')
    script(src='/javascripts/codemirror-compressed.js')
    script(src='/javascripts/codemirror-editor.js')
  body

    header
        h1
          a(href="/") Raineri

    nav.navibar
      ul.nav.nav-pills.navbar-inverse
        if currentUser && currentUser.priviledges > 2
          li
            a(href="/users") Käyttäjät
        li
          a(href="/courses") Kurssit
        if currentUser && currentUser.priviledges > 1
          li
            a(href="/databases") Tietokannat
        if currentUser
          li
            a(href="/users/#{currentUser.username}")= currentUser.username
          li
            a(href="/logout") Kirjaudu ulos
        else
          li
            a(href="/login") Kirjaudu sisään
          li
            a(href="/users/new") Rekisteröidy

    #torso
      block content

