extends ../layout
block content
  #databases
    h1 Tietokannat
    if databases.length
      .list-group
        each db in databases
          a(href="/databases/#{db._id}").list-group-item
            h4.list-group-item-heading= db.name
    hr
    .actions
      p
        a(href="/databases/new") Luo uusi tietokanta

