extends ../layout
block content
  #databases
    h1 Tietokannat
    - each db in databases
      .database
        p.name
          a(href="/databases/#{db._id}")= db.name
    hr
    .actions
      p
        a(href="/databases/new") Luo uusi tietokanta

