extends ../layout
block content
  #database
    h1
      a(href="/databases/#{database._id}")= database.name
      = " - "+ table 
    table.table.table-striped.table-condensed
      thead
        tr
          each col in cols
            th= col
      tbody
        each row in rows
          tr
            each col in row
              td=col
  p= err

