body {
  width: 60em;
  margin: 0 auto;
  padding: 2em 2em 1em 2em;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
label {
  color: #666;
  margin: 0 0.5em 0.2em 0;
  display: inline-block;
}
input,
textarea {
  margin-bottom: 1em;
}
.button {
  margin-top: 1em;
}
