@import "bootstrap/css/bootstrap-theme.min.css";
@import "bootstrap/css/bootstrap.min.css";

body {
  width: 60em;
  margin: 0 auto;
  padding: 0 2em 1em 2em;
  font: 14px "Helvetica Neue", "Lucida Grande", Helvetica, Arial, sans-serif
}

label {
  color: #666;
  margin: 0 .5em .2em 0;
  display: inline-block;
}

input,
textarea {
  margin-bottom: 1em;
}

.button input {
  margin-top: 1em;
}

header {
  margin: 0;
  padding: 0;
  border-bottom: 1px solid #999;
}

header h1 {
  margin: 0;
  padding: 0;
}

header h1 a {
  color: #444;
  font-size: 2.3em;
  font-weight: 300;
  text-transform: uppercase;

  &:hover {
    color: #111;
    text-decoration: none;
  }
}

.nav li a {
  font-size: 1.1em;
  font-weight: 300;

  &:hover {
    color: lighten(#2A6496, 60%);
    background: inherit;
  }
}

