body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}
a {
  color: #00b7ff;
}
label {
  color: #666;
  margin-bottom: 0.2em;
  display: inline-block;
}
input,
textarea {
  margin-bottom: 1em;
}
