extends ../layout
block content
  #tasks
    form(id="form", action="/tasks/1/execute", method="GET")
      .field(style="width:750px;")
        textarea(id="code", name="task_query", cols="80", rows="24")
          = "SELECT * FROM ptype;"
      .field
        input(type="submit", value="Send")
  #errors
    p= error
  #results
    table
      thead
        tr
          if cols
            - each col in cols
              th= col
      tbody
        if rows
          - each row in rows
            tr
              - each col in cols
                td= row[col]
      
  script.
    window.onload = function() {
      window.editor = CodeMirror.fromTextArea(document.getElementById('code'), {
        mode: 'text/x-sql',
        indentWithTabs: true,
        smartIndent: true,
        lineNumbers: true,
        matchBrackets : true,
        autofocus: true,
        theme: 'monokai',
        extraKeys: {
          "Ctrl-Space": "autocomplete",
          "Ctrl-Enter" : handleSubmit,
          "Cmd-Enter" : handleSubmit
        }
      });

      function handleSubmit() {
        $('#form').submit();
      }
    };

