extends ../layout
block content
  h1 Tehtävät

  #results
    table
      thead
        if tasks
          tr
            th Nimi
      tbody
        if tasks
          - each t in tasks
            tr
              td
                a(href="/tasks/#{t._id}")
                  = t.name

