extends ../layout
block content
  #tasks
    form(action="/tasks", method="POST")
      .field
        textarea(id="code", name="task_query", cols="80", rows="24")
      .field
        input(type="submit", value="Send")
    script.
      window.onload = function() {
        window.editor = CodeMirror.fromTextArea(document.getElementById('code'), {
          mode: 'text/x-sql',
          indentWithTabs: true,
          smartIndent: true,
          lineNumbers: true,
          matchBrackets : true,
          autofocus: true,
          theme: 'monokai'
        });
      };
