extends ../layout

block content
  h1 Tasks

  #results
    table
      thead
        if tasks
          tr
            th name
      tbody
        if tasks
          - each t in tasks
            tr
              td
                a(href="/tasks/#{t._id}")
                  = t.name

  br
  a(href="/tasks/new") New Task
