extends ../layout
block content
  #login
    h1 Kirjaudu sisään
    form(action="/login", method="POST")
      .field
        label(for="login_username") Käyttäjätunnus
        br
        input(id="login_username", type="text", name="username",
          placeholder="johndoe", size="25")
      .field
        label(for="login_password") Salasana
        br
        input(id="login_password", type="password", name="password",
          placeholder="•••••••••••", size="25")
      .button
        input(type="submit", value="Kirjaudu")

