extends ../layout

block content
  h1 Users

  #results
    table.table.table-striped
      thead
        if users
          tr
            th Nimi
      tbody
        if users
          - each u in users
            tr
              td
                a(href="/users/#{u.username}")= u.username

