extends ../layout
block content
  #user
    .username
      h2= user.username
    .tasks
      p Completed tasks:
      - for task in tasks
        a(href='/tasks/#{task.task.id}?task_query=#{task.completedTask.answer_query}')= task.task.name
        br
